<h2>Петиция</h2>

<h3><%= @petition.title %></h3>

<p>
  <%= @petition.created_at.strftime('%d/%m/%Y %H:%M')  %>
</p>

<p>
  <%= @petition.description %>
</p>

<p>
  <b>Голосов:</b>
  <%= @petition.votes.count %>
</p>

<p>
  <% if @petition.voted_by?(current_user) %>
    Вы уже проголосовали за данную петицию
  <% else %>
    <%= button_to('Поддержать', votes_path({ petition_id: @petition.id }) ) %>
  <% end %>
</p>
