<h2>Петиция</h2>

<h3><%= @petition.title %></h3>

<p>
  <%= @petition.created_at.strftime('%d/%m/%Y %H:%M')  %>
</p>

<p>
  <%= @petition.description %>
</p>

<p>
  <b>Голосов:</b>
  <%= @petition.votes.count %>
</p>

<p>
  <b>Осталось дней:</b>
  <%= @petition.days_left %>
</p>

<p>
  <% if @petition.voted_by?(current_user) %>
    Вы уже проголосовали за данную петицию
  <% else %>
    <% if @petition.expired? %>
      Голосование окончено
    <% else %>
      <%= button_to('Поддержать', votes_path({ petition_id: @petition.id }) ) unless @petition.owner?(current_user)%>
    <% end %>
  <% end %>
</p>
